@use "setting/mixin" as *;
@use "setting/calc" as *;

.c-outer {
    width: calc(100% - vwsp(30));
    max-width: var(--outerWidth);
    margin-left: auto;
    margin-right: auto;
}

.c-inner {
    width: calc(100% - vwsp(30));
    max-width: var(--inrWidth);
    margin-left: auto;
    margin-right: auto;
}